In [1]:
import numpy as np
import pandas as pd

import datetime

import warnings
warnings.filterwarnings('ignore')

/Users/naoki/.pyenv/versions/3.6.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/naoki/.pyenv/versions/3.6.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [13]:
h_trs = pd.read_csv("../input/historical_transactions.csv")
n_trs = pd.read_csv("../input/new_merchant_transactions.csv")

usecol = ["merchant_id", "merchant_group_id", "most_recent_sales_range", "category_4"]
merchant = pd.read_csv("../input/merchants.csv", usecols=usecol)

In [14]:
merchant["most_recent_sales_range"] = merchant.most_recent_sales_range.map(
    {
        "A": -0.3755114827304539, 
        "B": -0.1418195536770137, 
        "C": -0.1810503991535556, 
        "D": 0.9603337574351729, 
        "E": -0.22889415456488432

    }
)

In [15]:
trs = pd.concat([h_trs, n_trs], axis=0)

In [16]:
trs.purchase_date = pd.to_datetime(trs.purchase_date)

In [17]:
trs.purchase_date = trs.purchase_date.apply(lambda x:x.date())

In [18]:
trs["latest"] = (datetime.date(2018, 5, 1) - trs.purchase_date).dt.days

In [19]:
trs_concated = pd.merge(trs, merchant, on="merchant_id", how="left")

In [20]:
trs_concated.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,latest,merchant_group_id,most_recent_sales_range,category_4
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25,1.0,16,37,310,35.0,-0.375511,Y
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15,1.0,16,16,290,2084.0,-0.375511,Y
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09,1.0,16,37,265,27369.0,-0.181050,Y
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02,1.0,16,34,241,24104.0,0.960334,Y
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10,1.0,16,37,417,35.0,-0.375511,Y

In [21]:
def sig(x):
    return 1.0/(1.0+np.exp(-x))

# Group

In [10]:
df_group = trs_concated[["merchant_group_id", "merchant_category_id", "subsector_id", "purchase_amount"]]

In [11]:
df_group_perchase = df_group.groupby(["merchant_group_id", "merchant_category_id", "subsector_id"])["purchase_amount"].mean().reset_index()
df_group_perchase.columns = ["merchant_group_id", "merchant_category_id", "subsector_id", "sig_amount_per_group"]
df_group_perchase.sig_amount_per_group = df_group_perchase.sig_amount_per_group.apply(sig)
df_group_perchase

,merchant_group_id,merchant_category_id,subsector_id,sig_amount_per_group
0,1.0,774,29,0.345684
1,2.0,307,19,0.339600
2,2.0,414,29,0.336388
3,3.0,793,38,0.365701
4,4.0,63,27,0.334184
5,4.0,705,33,0.340470
6,5.0,68,27,0.400038
7,5.0,130,41,0.331407
8,5.0,178,29,0.343162
9,5.0,180,20,0.328915
10,5.0,369,27,0.356191
11,5.0,383,2,0.575652
12,5.0,427,27,0.347715
13,5.0,518,27,0.338234
14,5.0,544,29,0.329744
15,5.0,703,29,0.356802
16,5.0,793,38,0.501230
17,5.0,884,27,0.341467
18,6.0,705,33,0.329803
19,7.0,278,37,0.336832
20,8.0,367,16,0.338124
21,8.0,489,16,0.348657
22,9.0,307,19,0.353480
23,10.0,222,21,0.355604
24,10.0,309,21,0.350256
25,10.0,356,21,0.333074
26,11.0,34,38,0.542745
27,11.0,45,18,0.435721
28,11.0,178,29,0.506739
29,12.0,307,19,0.332307
...,...,...,...,...
217767,112561.0,80,37,0.335251
217768,112561.0,278,37,0.335725
217769,112563.0,117,2,0.339251
217770,112564.0,307,19,0.337165
217771,112565.0,705,33,0.328922
217772,112566.0,705,33,0.346994
217773,112568.0,80,37,0.335779
217774,112568.0,278,37,0.336627
217775,112569.0,705,33,0.342531
217776,112570.0,45,18,0.385194
217777,112571.0,360,34,0.344616
217778,112571.0,705,33,0.453716
217779,112572.0,130,41,0.348738
217780,112573.0,166,29,0.326524
217781,112574.0,560,34,0.331210
217782,112574.0,705,33,0.331985
217783,112575.0,307,19,0.349157
217784,112576.0,309,21,0.339553
217785,112576.0,356,21,0.323465
217786,112577.0,307,19,0.341526
217787,112579.0,560,34,0.331351
217788,112580.0,607,29,0.326816
217789,112581.0,705,33,0.330714
217790,112582.0,307,19,0.332976
217791,112583.0,45,18,0.343376
217792,112583.0,298,10,0.376855
217793,112583.0,373,18,0.345772
217794,112584.0,818,12,0.342512
217795,112585.0,437,15,0.337238
217796,112586.0,574,22,0.337401

# Category

In [12]:
df_category = trs_concated[["category_1", "category_2", "category_3", "category_4", "purchase_amount"]]

In [13]:
df_category_perchase = df_category.groupby(["category_1", "category_2", "category_3", "category_4"])["purchase_amount"].mean().reset_index()
df_category_perchase.columns = ["category_1", "category_2", "category_3", "category_4", "sig_amount_per_category"]
df_category_perchase.sig_amount_per_category = df_category_perchase.sig_amount_per_category.apply(sig)

In [14]:
df_category_perchase

   category_1  category_2 category_3 category_4  sig_amount_per_category
0           N         1.0          A          N                 0.468163
1           N         1.0          A          Y                 0.728098
2           N         1.0          B          N                 0.403196
3           N         1.0          B          Y                 0.373990
4           N         1.0          C          N                 0.483706
5           N         1.0          C          Y                 0.542320
6           N         2.0          A          N                 0.463504
7           N         2.0          A          Y                 0.457174
8           N         2.0          B          N                 0.450150
9           N         2.0          B          Y                 0.385218
10          N         2.0          C          N                 0.503501
11          N         2.0          C          Y                 0.541682
12          N         3.0          A          N                 0.738845
13          N         3.0          A          Y                 0.495209
14          N         3.0          B          N                 0.447829
15          N         3.0          B          Y                 0.428183
16          N         3.0          C          N                 0.477554
17          N         3.0          C          Y                 0.492078
18          N         4.0          A          N                 0.511715
19          N         4.0          A          Y                 0.416632
20          N         4.0          B          N                 0.499691
21          N         4.0          B          Y                 0.418044
22          N         4.0          C          N                 0.507521
23          N         4.0          C          Y                 0.550074
24          N         5.0          A          N                 0.509258
25          N         5.0          A          Y                 0.531399
26          N         5.0          B          N                 0.404806
27          N         5.0          B          Y                 0.386323
28          N         5.0          C          N                 0.499802
29          N         5.0          C          Y                 0.529276

# District

In [15]:
df_district = trs_concated[["city_id", "state_id", "purchase_amount"]]

In [16]:
df_district_perchase = df_district.groupby(["city_id", "state_id"])["purchase_amount"].mean().reset_index()
df_district_perchase.columns = ["city_id", "state_id", "sig_amount_per_district"]
df_district_perchase.sig_amount_per_district =  df_district_perchase.sig_amount_per_district.apply(sig)

In [17]:
df_district_perchase

     city_id  state_id  sig_amount_per_district
0         -1        -1                 0.414542
1          1        12                 0.505768
2          2        11                 0.374538
3          3        16                 0.459648
4          4        10                 0.504751
5          6         9                 0.357629
6          7         9                 0.394438
7          8        12                 0.355842
8          9        16                 0.363492
9         10         3                 0.418056
10        11        23                 0.414112
11        12         5                 0.605949
12        13         9                 0.484824
13        14        20                 0.394233
14        16         7                 0.374319
15        17        22                 0.435388
16        18         4                 0.346351
17        19         9                 0.437498
18        20        -1                 0.358421
19        20         9                 1.000000
20        20        19                 0.650558
21        21         9                 0.487801
22        22        16                 0.346940
23        23         9                 0.363765
24        24         9                 0.445268
25        25         7                 0.459856
26        26        21                 0.356439
27        28         9                 0.383445
28        29        15                 0.398912
29        30        17                 0.363933
..       ...       ...                      ...
340      330         9                 0.346252
341      330        17                 0.467141
342      331        -1                 0.355632
343      331         1                 0.368121
344      331         3                 0.392800
345      331         5                 0.376363
346      331         7                 0.983849
347      331         9                 0.370211
348      331        13                 0.366518
349      331        15                 0.352041
350      331        16                 0.431617
351      331        20                 0.415159
352      331        23                 0.507842
353      331        24                 0.347095
354      333         9                 0.484988
355      333        20                 0.357578
356      333        21                 0.601239
357      334        20                 0.462830
358      335        13                 0.424141
359      336        16                 0.353431
360      337        20                 0.384549
361      338        19                 0.362997
362      339         9                 0.365455
363      340         9                 0.406343
364      341        15                 0.358841
365      342        20                 0.370236
366      343        16                 0.350127
367      344        18                 0.454855
368      345        16                 0.344864
369      347        20                 0.360339

[370 rows x 3 columns]

In [18]:
def concat(df_base, df_add, on_col):
    df_result = pd.merge(df_base, df_add, on=on_col, how="left")
    return df_result

In [19]:
trs_concated1 = concat(trs_concated, df_group_perchase, ["merchant_group_id", "merchant_category_id", "subsector_id"])

for col in ["merchant_group_id", "merchant_category_id", "subsector_id"]:
    del trs_concated1[col]

In [20]:
trs_concated2 = concat(trs_concated1, df_category_perchase, ["category_1", "category_2", "category_3", "category_4"])

for col in ["category_1", "category_2", "category_3", "category_4"]:
    del trs_concated2[col]

In [21]:
trs_concated3 = concat(trs_concated2, df_district_perchase, ["city_id", "state_id"])

for col in ["city_id", "state_id"]:
    del trs_concated3[col]

In [22]:
df_trs = trs_concated3.drop(["merchant_id", "installments", "month_lag", "purchase_date"], axis=1)

In [23]:
df_trs2 = df_trs.copy()

In [24]:
df_trs.authorized_flag = df_trs.authorized_flag.map({"N": -1, "Y": 1})
df_trs.latest = df_trs.latest.apply(lambda x:1.0/x)
df_trs.avg_sales_lag3 = df_trs.avg_sales_lag3.apply(sig)
df_trs.purchase_amount = df_trs.purchase_amount.apply(sig)

In [25]:
df_trs["fifa_score"] = 100000 * df_trs.authorized_flag * df_trs.purchase_amount * df_trs.latest * df_trs.avg_sales_lag3 * df_trs.sig_amount_per_group * df_trs. sig_amount_per_category * df_trs.sig_amount_per_district

In [26]:
df_trs_fifa = df_trs.groupby("card_id")["fifa_score"].sum().reset_index()

In [41]:
df_trs_fifa.columns = ["card_id", "fifa_score"]

In [43]:
df_trs_fifa.to_csv("../input/fifa_score.csv", index=False)