In [1]:
import pandas as pd

from tqdm import tqdm

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

/Users/naoki/.pyenv/versions/3.6.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/naoki/.pyenv/versions/3.6.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
raw_train = pd.read_csv("./input/train.csv")

In [3]:
merchants = pd.read_csv("./input/merchants.csv")

In [4]:
h_trs = pd.read_csv("./input/historical_transactions.csv")

In [5]:
n_trs = pd.read_csv("./input/new_merchant_transactions.csv")

In [6]:
merchants[merchants.columns[5:]].head()

,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,avg_purchases_lag3,active_months_lag3,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,-0.057471,N,E,E,-0.40,9.666667,3,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,-0.057471,N,E,E,-0.72,1.750000,3,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,-0.057471,N,E,E,-82.13,260.000000,2,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,-0.057471,Y,E,E,NaN,1.666667,3,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,-0.057471,Y,E,E,NaN,0.500000,3,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN

In [7]:
merchants["sales_lag6_div_lag_12"] = merchants.avg_sales_lag6 / merchants.avg_sales_lag12
merchants["sales_lag3_div_lag_6"] = merchants.avg_sales_lag3 / merchants.avg_sales_lag6

In [8]:
merchants["puchases_lag6_div_lag_12"] = merchants.avg_purchases_lag6 / merchants.avg_purchases_lag12
merchants["puchases_lag3_div_lag_6"] = merchants.avg_purchases_lag3 / merchants.avg_purchases_lag6

In [9]:
df_pros_merchants_latest = pd.merge(
    h_trs, 
    merchants[[
        "merchant_id", 
        "sales_lag6_div_lag_12", 
        "sales_lag3_div_lag_6", 
        "puchases_lag6_div_lag_12",
        "puchases_lag3_div_lag_6"
    ]],
    on="merchant_id",
    how="left"
)

df_new_pros_merchants_latest = pd.merge(
    n_trs, 
    merchants[[
        "merchant_id", 
        "sales_lag6_div_lag_12", 
        "sales_lag3_div_lag_6", 
        "puchases_lag6_div_lag_12",
        "puchases_lag3_div_lag_6"
    ]],
    on="merchant_id",
    how="left"
)

In [10]:
agg_func = {
    'sales_lag3_div_lag_6': ['sum', 'mean', 'max', 'min', 'std'],
    'sales_lag6_div_lag_12': ['sum', 'mean', 'max', 'min', 'std'],
    'puchases_lag3_div_lag_6': ['sum', 'mean', 'max', 'min', 'std'],
    'puchases_lag6_div_lag_12': ['sum', 'mean', 'max', 'min', 'std']
        }

agg_history = df_pros_merchants_latest.groupby(['card_id']).agg(agg_func)
agg_history.columns = ['_'.join(col).strip() for col in agg_history.columns.values]
agg_history.reset_index(inplace=True)

In [19]:
new_agg_history = df_new_pros_merchants_latest.groupby(['card_id']).agg(agg_func)
new_agg_history.columns = ["new_" + '_'.join(col).strip() for col in new_agg_history.columns.values]
new_agg_history.reset_index(inplace=True)

In [23]:
df = pd.merge(agg_history, new_agg_history, on="card_id", how="outer")

In [27]:
df.to_csv("./input/prosperity_merchants_latest.csv", index=False)