In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_fifa = pd.read_csv("../input/fifa_score_base.csv")

# single

In [ ]:
df_fifa["fifa_AvgSalesLag3"] = 1000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.avg_sales_lag3
df_fifa["fifa_SigAmountPerGroup"] = 1000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.sig_amount_per_group
df_fifa["fifa_SigAmountPerCategory"] = 1000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.sig_amount_per_category
df_fifa["fifa_SigAmountPerDistrict"] = 1000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.sig_amount_per_district

In [ ]:
df_trs_fifa = df_fifa.groupby("card_id")["fifa_AvgSalesLag3", "fifa_SigAmountPerGroup", "fifa_SigAmountPerCategory", "fifa_SigAmountPerDistrict"].sum().reset_index()

In [ ]:
df_trs_fifa

In [ ]:
df_trs_fifa.to_csv("../input/fifa_score2.csv", index=False)

# double

In [ ]:
import numpy as np
import pandas as pd

import itertools

In [ ]:
df_fifa = pd.read_csv("../input/fifa_score_base.csv")

In [ ]:
df_fifa.head()

In [ ]:
list(itertools.combinations(df_fifa.columns[4:-1], 2))

In [ ]:
df_fifa["fifa_AvgSalesLag3_SigAmountPerGroup"] = 10000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.avg_sales_lag3 * df_fifa.sig_amount_per_group
df_fifa["fifa_AvgSalesLag3_SigAmountPerCategory"] = 10000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.avg_sales_lag3 * df_fifa.sig_amount_per_category
df_fifa["fifa_AvgSalesLag3_SigAmountPerDistrict"] = 10000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.avg_sales_lag3 * df_fifa.sig_amount_per_district
df_fifa["fifa_SigAmountPerGroup_SigAmountPerCategory"] = 10000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.sig_amount_per_group * df_fifa.sig_amount_per_category
df_fifa["fifa_SigAmountPerGroup_SigAmountPerDistrict"] = 10000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.sig_amount_per_group * df_fifa.sig_amount_per_district
df_fifa["fifa_SigAmountPerCategory_SigAmountPerDistrict"] = 10000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.sig_amount_per_category * df_fifa.sig_amount_per_district

In [ ]:
df_trs_fifa = df_fifa.groupby("card_id")[
    "fifa_AvgSalesLag3_SigAmountPerGroup",
    "fifa_AvgSalesLag3_SigAmountPerCategory",
    "fifa_AvgSalesLag3_SigAmountPerDistrict", 
    "fifa_SigAmountPerGroup_SigAmountPerCategory",
    "fifa_SigAmountPerGroup_SigAmountPerDistrict",
    "fifa_SigAmountPerGroup_SigAmountPerDistrict"
].sum().reset_index()

In [ ]:
df_trs_fifa.head()

In [ ]:
df_trs_fifa.to_csv("../input/fifa_score3.csv", index=False)

# Triple

In [1]:
import numpy as np
import pandas as pd

import itertools

/Users/naoki/.pyenv/versions/3.6.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/naoki/.pyenv/versions/3.6.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df_fifa = pd.read_csv("../input/fifa_score_base.csv")

In [3]:
df_fifa.head()

,authorized_flag,card_id,purchase_amount,latest,avg_sales_lag3,sig_amount_per_group,sig_amount_per_category,sig_amount_per_district,fifa_score
0,1,C_ID_4e6213e9bc,0.331074,0.003226,0.746494,0.413304,0.728098,0.401358,9.629009
1,1,C_ID_4e6213e9bc,0.324509,0.003448,0.742691,0.344299,0.728098,0.401358,8.361697
2,1,C_ID_4e6213e9bc,0.327308,0.003774,0.727108,0.329830,0.728098,0.401358,8.656085
3,1,C_ID_4e6213e9bc,0.324021,0.004149,0.731059,0.324279,0.728098,0.401358,9.314273
4,1,C_ID_4e6213e9bc,0.326762,0.002398,0.746494,0.413304,0.728098,0.401358,7.065029

In [4]:
list(itertools.combinations(df_fifa.columns[4:-1], 3))

[('avg_sales_lag3', 'sig_amount_per_group', 'sig_amount_per_category'),
 ('avg_sales_lag3', 'sig_amount_per_group', 'sig_amount_per_district'),
 ('avg_sales_lag3', 'sig_amount_per_category', 'sig_amount_per_district'),
 ('sig_amount_per_group',
  'sig_amount_per_category',
  'sig_amount_per_district')]

In [5]:
df_fifa["fifa_AvgSalesLag3_SigAmountPerGroup_SigAmountPerCategory"] = 10000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.avg_sales_lag3 * df_fifa.sig_amount_per_group * df_fifa.sig_amount_per_category
df_fifa["fifa_AvgSalesLag3_SigAmountPerGroup_SigAmountPerDistrict"] = 10000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.avg_sales_lag3 * df_fifa.sig_amount_per_group * df_fifa.sig_amount_per_district
df_fifa["fifa_AvgSalesLag3_SigAmountPerCategory_SigAmountPerDistrict"] = 10000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.avg_sales_lag3 * df_fifa.sig_amount_per_category * df_fifa.sig_amount_per_district
df_fifa["fifa_SigAmountPerGroup_SigAmountPerCategory_SigAmountPerDistrict"] = 10000 * df_fifa.authorized_flag * df_fifa.purchase_amount * df_fifa.latest * df_fifa.sig_amount_per_group * df_fifa.sig_amount_per_category * df_fifa.sig_amount_per_district

In [6]:
df_trs_fifa = df_fifa.groupby("card_id")[
    "fifa_AvgSalesLag3_SigAmountPerGroup_SigAmountPerCategory",
    "fifa_AvgSalesLag3_SigAmountPerGroup_SigAmountPerDistrict",
    "fifa_AvgSalesLag3_SigAmountPerCategory_SigAmountPerDistrict", 
    "fifa_SigAmountPerGroup_SigAmountPerCategory_SigAmountPerDistrict"
].sum().reset_index()

In [7]:
df_trs_fifa.head()

,card_id,fifa_AvgSalesLag3_SigAmountPerGroup_SigAmountPerCategory,fifa_AvgSalesLag3_SigAmountPerGroup_SigAmountPerDistrict,fifa_AvgSalesLag3_SigAmountPerCategory_SigAmountPerDistrict,fifa_SigAmountPerGroup_SigAmountPerCategory_SigAmountPerDistrict
0,C_ID_00007093c1,196.430001,309.887999,289.773244,157.548503
1,C_ID_0001238066,1312.723622,1707.059170,1676.832895,857.021816
2,C_ID_0001506ef0,214.171926,193.063412,250.996271,133.951995
3,C_ID_0001793786,399.451186,537.685508,487.539620,268.182302
4,C_ID_000183fdda,641.423698,1294.049145,663.192979,336.167918

In [8]:
df_trs_fifa.to_csv("../input/fifa_score4.csv", index=False)