In [1]:
import pandas as pd
import numpy as np

from scipy.sparse import csr_matrix
from pandas.api.types import CategoricalDtype

from sklearn.decomposition import NMF

from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

In [2]:
N_COMP = 20 #20が最高順位

In [21]:
df_train = pd.read_csv("../input/train.csv", usecols=["card_id"])
h_trs = pd.read_csv("../input/historical_transactions.csv", usecols=["card_id", "purchase_date", "purchase_amount"], parse_dates=["purchase_date"])

In [23]:
h_trs.purchase_date = h_trs.purchase_date.apply(lambda x:x.date())
h_trs.purchase_amount = h_trs.purchase_amount.apply(lambda x:1/(1+np.exp(-1*x)))

In [24]:
df_purchase_summary = h_trs.groupby(["card_id", "purchase_date"])["purchase_amount"].sum().reset_index()

In [38]:
df_purchase_summary.purchase_date = df_purchase_summary.purchase_date.apply(lambda x:str(x))

In [42]:
df_purchase_summary

                  card_id purchase_date  purchase_amount
0         C_ID_00007093c1    2017-02-14         0.894521
1         C_ID_00007093c1    2017-02-16         0.360637
2         C_ID_00007093c1    2017-02-20         0.417857
3         C_ID_00007093c1    2017-03-03         0.381321
4         C_ID_00007093c1    2017-03-06         0.360637
5         C_ID_00007093c1    2017-03-08         0.742471
6         C_ID_00007093c1    2017-03-11         1.788988
7         C_ID_00007093c1    2017-03-15         0.338099
8         C_ID_00007093c1    2017-04-17         2.024054
9         C_ID_00007093c1    2017-04-19         2.400781
10        C_ID_00007093c1    2017-05-11         0.355157
11        C_ID_00007093c1    2017-05-15         0.348943
12        C_ID_00007093c1    2017-05-16         0.357180
13        C_ID_00007093c1    2017-05-18         2.080384
14        C_ID_00007093c1    2017-05-22         0.332073
15        C_ID_00007093c1    2017-05-29         0.340457
16        C_ID_00007093c1    2017-05-30         0.358561
17        C_ID_00007093c1    2017-06-01         0.697636
18        C_ID_00007093c1    2017-06-06         0.348260
19        C_ID_00007093c1    2017-06-07         1.083337
20        C_ID_00007093c1    2017-06-09         0.441641
21        C_ID_00007093c1    2017-06-10         0.331407
22        C_ID_00007093c1    2017-06-14         0.990298
23        C_ID_00007093c1    2017-06-17         1.781438
24        C_ID_00007093c1    2017-06-23         0.349967
25        C_ID_00007093c1    2017-06-29         1.082626
26        C_ID_00007093c1    2017-07-02         0.687750
27        C_ID_00007093c1    2017-07-03         0.329744
28        C_ID_00007093c1    2017-07-04         0.765748
29        C_ID_00007093c1    2017-07-05         0.731807
...                   ...           ...              ...
16450075  C_ID_fffffd5772    2017-12-07         0.650223
16450076  C_ID_fffffd5772    2017-12-08         0.698240
16450077  C_ID_fffffd5772    2017-12-12         0.325441
16450078  C_ID_fffffd5772    2017-12-13         0.696574
16450079  C_ID_fffffd5772    2017-12-16         0.363761
16450080  C_ID_fffffd5772    2017-12-17         0.334745
16450081  C_ID_fffffd5772    2017-12-18         0.328086
16450082  C_ID_fffffd5772    2017-12-20         0.325441
16450083  C_ID_fffffd5772    2017-12-22         0.325441
16450084  C_ID_fffffd5772    2017-12-23         0.659493
16450085  C_ID_fffffd5772    2017-12-29         0.326432
16450086  C_ID_fffffd5772    2017-12-30         0.981613
16450087  C_ID_fffffd5772    2017-12-31         0.328086
16450088  C_ID_fffffd5772    2018-01-02         0.341808
16450089  C_ID_fffffd5772    2018-01-06         0.325441
16450090  C_ID_fffffd5772    2018-01-11         0.325441
16450091  C_ID_fffffd5772    2018-01-17         0.325441
16450092  C_ID_fffffd5772    2018-01-21         0.358561
16450093  C_ID_fffffd5772    2018-01-23         0.329529
16450094  C_ID_fffffd5772    2018-01-26         1.328627
16450095  C_ID_fffffd5772    2018-02-04         0.325441
16450096  C_ID_fffffd5772    2018-02-11         0.325441
16450097  C_ID_fffffd5772    2018-02-15         1.652523
16450098  C_ID_fffffd5772    2018-02-16         0.649696
16450099  C_ID_fffffd5772    2018-02-17         0.673578
16450100  C_ID_fffffd5772    2018-02-19         0.324782
16450101  C_ID_fffffd5772    2018-02-20         0.751420
16450102  C_ID_fffffd5772    2018-02-23         1.331417
16450103  C_ID_fffffd5772    2018-02-25         0.338099
16450104  C_ID_fffffd5772    2018-02-26         1.609117

[16450105 rows x 3 columns]

In [45]:
card_c = CategoricalDtype(sorted(df_purchase_summary.card_id.unique()), ordered=True)
date_c = CategoricalDtype(sorted(df_purchase_summary.purchase_date.unique()), ordered=True)

row = df_purchase_summary.card_id.astype(card_c).cat.codes
col = df_purchase_summary.purchase_date.astype(date_c).cat.codes
sparse_matrix = csr_matrix((df_purchase_summary["purchase_amount"], (row, col)), shape=(card_c.categories.size, date_c.categories.size))

# NMF

In [48]:
model = NMF(n_components=N_COMP, init='random', random_state=0) 
embedded = model.fit_transform(sparse_matrix)

df = pd.DataFrame(embedded, columns=["NMF_purchase_comp_{}".format(i) for i in range(1,N_COMP+1)])
df["card_id"] = card_c.categories.values
df.to_csv("../input/purchase_nmf.csv", index=False)